<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempora ad quo dicta mollitia deserunt inventore
      perferendis expedita nesciunt numquam!</p>
    <p>Aut nisi reprehenderit placeat rem nihil eum ipsam obcaecati, doloribus cumque recusandae voluptates maiores eius
      repellendus temporibus eaque magni debitis?</p>
    <p>Voluptate commodi adipisci, laudantium odio ipsa libero eum! Repellat sunt id placeat molestiae omnis quidem sit
      quas voluptatum voluptates tempora!</p>

  </div>

  <%- include('./partials/footer.ejs') %>

</body>

</html>